% ============================================================
%  Ordo skeleton: romanum-1962
%  Roman rite, 1962 books: 5 psalms, no sung Preces/Pater noster.
%  Include-list only; all LaTeX lives in the partials.
% ============================================================
\BLOCK{include "partials/preamble.tex.j2"}

\begin{document}

\BLOCK{include "partials/cover.tex.j2"}
\BLOCK{include "partials/instructions.tex.j2"}
\BLOCK{include "partials/ordo-table.tex.j2"}
\BLOCK{include "partials/initium.tex.j2"}
\BLOCK{include "partials/psalmi.tex.j2"}
\BLOCK{include "partials/capitulum.tex.j2"}
\BLOCK{include "partials/hymnus.tex.j2"}
\BLOCK{include "partials/versiculus.tex.j2"}
\BLOCK{include "partials/magnificat.tex.j2"}
\BLOCK{include "partials/oratio.tex.j2"}
\BLOCK{include "partials/conclusio.tex.j2"}
\BLOCK{include "partials/antiphona-bmv.tex.j2"}
\BLOCK{include "partials/filler.tex.j2"}
\BLOCK{include "partials/backcover.tex.j2"}

\end{document}
