% ============================================================
%  ANTIPHONA B.M.V.
% ============================================================
\section{Antiphona B.M.V.}
\stagenote{Alle}{Man steht}
\gregorioscore{\VAR{bmv.gabc}}
\BLOCK{if not latin_only}\noindent{\footnotesize\itshape \VAR{bmv.de|tex}\par}\BLOCK{endif}\medskip
