% ============================================================
%  CONCLUSIO
% ============================================================
\section{Conclusio}
\stagenote{Kantor, alle antworten}{Man steht}

\gresetinitiallines{0}
\gregorioscore{\VAR{ordinarium['versicle-domine-exaudi'].gabc}}
\gresetinitiallines{1}
\BLOCK{if not latin_only}\noindent{\footnotesize\itshape \VAR{ordinarium['versicle-domine-exaudi'].de|tex}\par}\BLOCK{endif}\medskip
\gresetinitiallines{0}
\gregorioscore{\VAR{ordinarium['benedicamus-domino'].gabc}}
\gresetinitiallines{1}
\BLOCK{if not latin_only}\noindent{\footnotesize\itshape \VAR{ordinarium['benedicamus-domino'].de|tex}\par}\BLOCK{endif}\medskip
\gresetinitiallines{0}
\gregorioscore{\VAR{ordinarium['deo-gratias'].gabc}}
\BLOCK{if not latin_only}\noindent{\footnotesize\itshape \VAR{ordinarium['deo-gratias'].de|tex}\par}\BLOCK{endif}\medskip
\gresetinitiallines{1}
\gresetinitiallines{0}
\gregorioscore{\VAR{ordinarium['fidelium-animae'].gabc}}
\gresetinitiallines{1}
\gresetinitiallines{0}
\gregorioscore{\VAR{ordinarium['amen'].gabc}}
\gresetinitiallines{1}
\BLOCK{if not latin_only}\noindent{\footnotesize\itshape \VAR{ordinarium['fidelium-animae'].de|tex}\par}\BLOCK{endif}\medskip
