% ============================================================
%  PATER NOSTER
% ============================================================
\section{Pater Noster}
\stagenote{Alle}{Man steht}
\subsection{Kyrie}
\gresetinitiallines{0}
\gregorioscore{\VAR{ordinarium['kyrie-eleison'].gabc}}
\gresetinitiallines{1}
\subsection{Pater Noster}
\gregorioscore{\VAR{ordinarium['paternoster'].gabc}}
\BLOCK{if not latin_only}\noindent{\footnotesize\itshape \VAR{ordinarium['paternoster'].de|tex}\par}\BLOCK{endif}\medskip
