% ============================================================
%  PRECES
% ============================================================
\section{Preces}
\stagenote{Vorbeter, alle antworten}{Man steht}

\rubric{Der Vorbeter trägt die Fürbitten vor. Die Gemeinde antwortet:}

\gresetinitiallines{0}
\gregorioscore{\VAR{ordinarium['te-rogamus'].gabc}}
\gresetinitiallines{1}
\BLOCK{if not latin_only}\noindent{\footnotesize\itshape \VAR{ordinarium['te-rogamus'].de|tex}\par}\BLOCK{endif}\medskip

\smallornament
