% ============================================================
%  VERSICULUS
% ============================================================
\section{Versiculus}
\stagenote{Kantor, alle antworten}{Man steht}

\gresetinitiallines{0}
\gregorioscore{\VAR{versiculus.gabc}}
\gresetinitiallines{1}
\BLOCK{if not latin_only}\noindent{\footnotesize\itshape \VAR{versiculus.de|tex}\BLOCK{if versiculus.note}\footnote{\VAR{versiculus.note|tex}}\BLOCK{endif}\par}\BLOCK{else}\noindent{\footnotesize \BLOCK{if versiculus.note}\footnote{\VAR{versiculus.note|tex}}\BLOCK{endif}\par}\BLOCK{endif}\medskip

\smallornament
